try-import %workspace%/.ci.bazelrc
try-import %workspace%/.user.bazelrc

build --define=ij_product=intellij-2026.2
build --java_language_version=25 --java_runtime_version=25
build --tool_java_language_version=25 --tool_java_runtime_version=25

# Note: Use `common` for options to be applied to all applicable commands

# Use a static value for `PATH` and does not inherit `LD_LIBRARY_PATH`. Doesn't let environment
# variables like `PATH` sneak into the build, which can cause massive cache misses when they change.
# Use `--action_env=ENV_VARIABLE` if you want to inherit specific environment variables from the
# client, but note that doing so can prevent cross-user caching if a shared cache is used.
# Docs: https://bazel.build/reference/command-line-reference#flag--incompatible_strict_action_env
build --incompatible_strict_action_env

# https://github.com/protocolbuffers/protobuf/issues/16944#issuecomment-2530220696
common --host_cxxopt=-std=c++20 --cxxopt=-std=c++20
common --host_macos_minimum_os=14 --macos_minimum_os=14

common --symlink_prefix=out/bazel-
