# A custom merge driver for the Bazel lockfile.
# https://bazel.build/external/lockfile#automatic-resolution
MODULE.bazel.lock merge=bazel-lockfile-merge
# exclude test .bzl files used in starlark tests,
# intellij testing platform uses enhanced syntax in files in tests (tags with information about autocompletion)
# https://github.com/aspect-build/rules_lint/blob/main/docs/formatting.md#ignoring-files-explicitly
plugin-bazel/src/test/testData/**/*.bzl rules-lint-ignored
# exclude all generated sources
**/gen/** rules-lint-ignored
# exclude all TC config files in .teamcity
.teamcity/** rules-lint-ignored
# exclude pnpm lock file, otherwise it will trigger lock regeneration after each format
pnpm-lock.yaml rules-lint-ignored
plugin-bazel/src/main/kotlin/org/jetbrains/bazel/languages/bazelrc/lexer/_BazelrcLexer.java rules-lint-ignored
plugin-bazel/src/main/kotlin/org/jetbrains/bazel/languages/starlark/lexer/_StarlarkLexer.java rules-lint-ignored
# exclude test projects for e2e tests
server/e2e/test-projects/** rules-lint-ignored