.DS_Store

.bazelbsp/
.bsp/

.gradle/

.idea/
!.idea/icon.svg

.ijwb
.intellijPlatform

.jps-compiled

__pycache__

bazel-bin
bazel-hirschgarten
bazel-out
bazel-testlogs

build/

idea-flex.skeleton
jflex-*.jar

projectview.bazelproject
