.bazelrc.user
.DS_Store

.bazelbsp/
.bsp/

.idea/*
!.idea/icon.svg

.ijwb
.intellijPlatform

.jps-compiled

.qodana

__pycache__

bazel-bin
bazel-hirschgarten
bazel-out
bazel-testlogs

idea-flex.skeleton
jflex-*.jar

projectview.bazelproject
tools/mtls/*
!tools/mtls/.gitkeep
