common --enable_platform_specific_config

build:linux --extra_toolchains=@zig_sdk//toolchain/... --extra_toolchains=@zig_sdk//libc_aware/toolchain/...
build:macos --extra_toolchains=@zig_sdk//toolchain/... --extra_toolchains=@zig_sdk//libc_aware/toolchain/...
try-import %workspace%/user.bazelrc
