build --define=ij_product=intellij-2024.2
build --java_language_version=17 --java_runtime_version=17
build --tool_java_language_version=17 --tool_java_runtime_version=17

#build --incompatible_strict_action_env
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1
build --noexperimental_check_output_files
build --noexperimental_check_external_repository_files
build --experimental_reuse_sandbox_directories
